*.log
TASK_LOG*.md
*.out
*.test
bin/
dist/
output/
/nul
configs/.env
.env
.opencode
.gomodcache
.gocache
.qwen
.claude
.vulcan
third_party/
!third_party/
third_party/*
!third_party/vldb-controller-client-go/
!third_party/vldb-controller-client-go/**
docs/plan/
docs/completed/
